<?xml version="1.0"?>
<launch>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />

    <node name="camera_raw_to_plain" pkg="topic_tools" type="relay" output="screen" args="/camera/image_raw/compressed /camera/image/compressed" />

    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/camera/image"/>
        <param name="autosize" value="true" />
        <param name="image_transport" value="compressed" />
    </node>
    
</launch>
